# Description: Example of .env.development.local file
# 1. Replace XXX.com with your domain name
# 2. Rename this file to .env.development.local
API_BASE_URL=http://localhost/api

BASE_PATH=/ # If your app is hosted at https://XXX.com/your-app/ then change this to /your-app/