body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiChip-filledPrimary {
  background-color: #182983!important;
}

.MuiChip-outlinedPrimary {
  border-color: #182983!important;
}